<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-12">

            <h2 class="display-4">Informações técnicas</h2>


            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Definições</h2>

                    <p>
                        <b>Casos confirmados de COVID-19:</b> em breve.
                    </p>

                    <p>
                        <b>Casos notificados de COVID-19:</b> em breve.
                    </p>

                    <p>
                        <b>Casos suspeitos de COVID-19:</b> em breve.
                    </p>

                    <p>
                        <b>Casos descartados de COVID-19:</b> em breve.
                    </p>

                    <p>
                        <b>Casos curados de COVID-19:</b> em breve.
                    </p>

                    <p>
                        <b>Óbitos por COVID-19:</b> em breve.
                    </p>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Referências</h2>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Fonte</h2>
                    <ul>
                        <li>Os dados de evolução diária do COVID-19 no município de Catanduva/SP (de casos notificados, confirmados, suspeitos, descartados, bem como de curados, óbitos e de pacientes internados) são obtidos através do Boletins do Coronavírus: Prefeitura Municipal de Catanduva, divulgado diariamente no <a href="http://www.catanduva.sp.gov.br/coronavirus/" target="_blank">site oficial</a> da Prefeitura de Catanduva/SP.</li>
                        <li>Os dados de Síndrome Respiratória Aguda Grave (SRAG) - testagem, de localização dos casos confirmados de COVID-19, entre outros, são obtidos através do <a href="https://opendatasus.saude.gov.br/dataset/bd-srag-2020" target="_blank">openDataSus</a>.</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Notas</h2>
                    <ul>
                        <li>Transcrevemos os dados epidemiológicos, assim que divulgados pela Prefeitura, de forma manual: da imagem para um formato estruturado (tabular). Naturalmente, podem ocorrer erros humanos nessa transcrição. Caso note alguma divergência dos dados aqui publicados com os dados oficiais, por favor, nos escreva via <a target="_blank" href="https://linktr.ee/picovid">redes sociais</a>, <a href="mailto:covid.catanduva@gmail.com">e-mail</a>, ou pelo <a href="https://github.com/rafaeldefazio/csv-covid/" target="_blank">Github</a>.</li>
                    </ul>


                </div>
            </div>

        </div><!-- end col -->


    </div>

</div> <!-- end container -->
