<div class="container-fluid">
    <div class="row mt-4 justify-content-center">
        <div class="col-12 align-middle" align="center">

            <div class="alert alert-info" role="info" *ngIf="isFirefox">
                Notamos que você está utilizando o navegador de internet <b>Mozilla Firefox</b>. Caso tenha algum problema na visualização, <b>clique <a href="https://datastudio.google.com/reporting/194278c0-68be-4d83-a2e8-03f40c3ee416" target="_blank">aqui</a></b> para acessar o painel de análises. Obrigado!
            </div>


            <div class="alert alert-info" role="info" *ngIf="isSmallScreen">
                As análises são melhor visualizadas em dispositivos com telas maiores, como tablets, notebooks e desktops.
            </div>

            <div class="ds-cravinhos">

                <iframe class="responsive-iframe" [src]="urlSafe" style="border:0" allowfullscreen frameborder="0" scrolling="no"></iframe>


            </div>
        </div><!-- end col -->

    </div>

</div> <!-- end container -->
