<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-12">


            <h2 class="display-4">O PI-COVID na mídia</h2>

            <p class="lead">Por onde já passamos?</p>

            <hr/>

            <div class="list-group">
                <a target="_blank" href="https://drive.google.com/file/d/1JD5Dt_c9vSsfXAlN8gD20IyXqm4RKlRv" class="list-group-item list-group-item-action">[17/08/2020] Entrevista - CBN Grandes Lagos</a>
                <a target="_blank" href="https://drive.google.com/file/d/1EXy1RSpMV-JyPG2iP0oFb-JNi2oArrCq" class="list-group-item list-group-item-action">[31/07/2020] Capa Principal e Capa Caderno Cidades - O Regional</a>
                <a target="_blank" href="https://drive.google.com/open?id=1G7WeIJ2h3JZQIArrxO0-uJjG7kfCwwkg" class="list-group-item list-group-item-action">[31/05/2020] Capa Caderno Cidades - O Regional</a>
                <a target="_blank" href="https://youtu.be/jZEnyFn2tTs" class="list-group-item list-group-item-action">[22/05/2020] Matéria sobre notificação de casos de COVID-19 no município - Nova TV</a>
            </div>



        </div><!-- end col -->

    </div>

</div> <!-- end container -->
