<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a routerLink="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo-white.svg" title="Logo: Namecheap" height="40">
        </span>

        <span class="logo-sm">
          <img src="assets/images/icon-white.svg" alt="" height="40">

              <span><a (click)="addToHomeScreen()" class="btn btn-waves-effect btn-lighten-blue ml-5 btn-xs"><i class="fas fa-plus-circle"></i> Instalar app</a></span><br/>

        </span>

        <!--      <h3>Boletim epidemiológico de Catanduva</h3>-->
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->

