dashboard/.DS_STORE

dashboard/dist/
dashboard/bazel-out
dashboard/integration/bazel/bazel-*
dashboard/*.log
dashboard/node_modules

# Don't check in secret files
dashboard/*secret.js

# Ignore npm/yarn debug log
dashboard/-debug.log
dashboard/yarn-error.log

# build-analytics
dashboard/.build-analytics

# rollup-test output
dashboard/modules/rollup-test/dist/

# User specific bazel settings
dashboard/.bazelrc.user

dashboard/.notes.md
dashboard/baseline.json