.DS_STORE

dist/
dist.zip
bazel-out
integration/bazel/bazel-*
*.log
node_modules

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

.notes.md
baseline.json