<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center" style="max-width:850px;margin: 0 auto;">

    <main role="main" class="inner cover">
        <h1 class="cover-heading text-danger"><span class="live-blink"></span> Live</h1>
        <p><b><i class="fa fa-calendar"></i></b> Próxima quinta-feira, dia 10 de setembro <b><i class="fa fa-clock"></i></b> às 19 horas<p class="lead">
        <h3 class="cover-heading">COVID19: Um debate científico sobre máscaras, desinfecção de ambientes e os mais recentes avanços para combate e controle da epidemia</h3>
        <img src="assets/images/covid-virus-300px.webp" style="margin: 20px 0 20px 0"/>
        <p class="lead">Numa roda de conversa com o Prof. Dr. Frank Pereira de Andrade e o Acadêmico Marcus Vinícius Pomini, discutiremos os mais recentes avanços da ciência para detecção e controle da covid19 além das principais técnicas de prevenção e desinfecção contra o novo coronavírus.
            Dr. Frank Pereira é professor pesquisador do curso de Farmácia da Universidade Federal de São João del-Rei e desde o início da pandemia no Brasil têm direcionado suas pesquisas para o combate ao novo coronavírus, treinando e informando cientificamente a população.
            Já o acadêmico Marcus Vinícius, também pesquisador da Universidade Federal de São João del-Rei têm se dedicado a realização dos teste PCR de covid para Ribeirão Preto e região, realizados no Parque Tecnológico por meio do projeto Supera-Ação.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-danger" href="https://meet.google.com/rta-uarr-fov"><i class="fa fa-play"></i> Assistir à live</a>
        </p>
    </main>
</div>
