
span.live-blink:before {
  content: ' \25CF';
  font-size: 40px;
}

span.live-blink{
  animation: blinker 1s linear infinite;
  -webkit-animation: blinker 1s linear infinite;
  -moz-animation: blinker 1s linear infinite;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}
