<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-12">


            <h2 class="display-4">O que é PI-COVID?</h2>

            <p class="lead">ESTATÍSTICAS SOBRE A COVID-19 EM CATANDUVA-SP</p>

            <hr/>

            <p class="font-20">
            Já está no ar o Painel Interativo sobre a COVID-19 (PI-COVID), agora você pode acompanhar em tempo real as estatísticas do Coronavírus no município de Catanduva-SP.
            </p>
            <p class="font-20">
            No PI-COVID, é possível ter acesso ao histórico de casos notificados, suspeitos, descartados, confirmados e óbitos. Todos os dados estão demonstrados por dia, começando em 20/03/2020.
            </p>
            <p class="font-20">
            As informações disponíveis no PI-COVID são extraídas diariamente dos boletins oficiais emitidos pela Prefeitura (<a href="https://catanduva.sp.gov.br/coronavirus" target="_blank">https://catanduva.sp.gov.br/coronavirus</a> ).
            </p>
            <p class="font-20">
                A base de dados utilizada pelo PI-COVID está publicamente disponível em <a href="https://github.com/rafaeldefazio/csv-covid" target="_blank">github.com/rafaeldefazio/csv-covid</a>. Qualquer pessoa que tenha interesse pode baixá-la em formato CSV (Comma-Separated Values) e abrir em formato de planilha, ou pode também utilizar nossa API.
            </p>
            <p class="font-20">
            PI-COVID, bem como servidor API, é um projeto de código aberto e está disponível no GitHub, em: <a href="https://github.com/rafaeldefazio/dashboard-covid" target="_blank">github.com/rafaeldefazio/dashboard-covid</a>
            </p>
            <p class="font-20">
            Em breve estarão disponíveis outros tipos de análises e notícias, bem como outras informações, como números de curados. E lembrando, o PI-COVID é interativo. Você pode escolher quais tipos de casos quer utilizar para comparação, pode dar zoom no gráfico, entre outras opções.
            </p>

            <p class="font-20 font-weight-bold">
                O PI-COVID é um projeto independente.
            </p>






        </div><!-- end col -->

    </div>

</div> <!-- end container -->
