<div class="alert alert-info" role="info" *ngIf="isSmallScreen" style="margin-top: 2em">
    O boletim é melhor visualizado em dispositivos com telas maiores, como tablets, notebooks e desktops.
</div>

<!--<div class="center-boletim">-->

<div [class.page]="!isSmallScreen" [class.small-page]="isSmallScreen" #boletim>

    <div class="fa-3x text-center" [class.d-none]="!isLoading" style="margin-top: 400px">
        <i class="fas fa-circle-notch fa-spin m-2"></i>
    </div>

    <div id="boletim" [class.d-none]="isLoading">

    <header>

        <div id="logo">

            <div><img src="assets/images/logo-white.png" height="60"/></div>
            <div>{{lastUpdate | date : 'dd/MM/yyyy'}}</div>
<!--             <div style="background: #181b21;border-radius: 5px;">{{lastUpdate | date : 'dd/MM/yyyy'}}</div>-->



        </div>


        <h1><span class="emoji bg-chart_with_upwards_trend" width="32px"></span> Boletim do Coronavírus de {{cityNameBoletim}}/{{stateBoletim}}</h1>

    </header>

    <div id="content">

        <div class="card">
            <h1 style="border-color: #9C27B0">Ativos <span class="emoji bg-face_with_medical_mask" width="32px"></span>
            </h1>
            <span style="background: #9C27B0">{{totalActive}}</span>
            <span id="today">{{todayTotalActive}} hoje</span>
        </div>

        <div class="card" style="width: 36%">
            <h1 style="border-color: #21afdd">Confirmados <span class="emoji bg-heavy_check_mark" width="32px"></span>
            </h1>
            <span style="background: #21afdd">{{totalConfirmed}}</span>
            <span id="today">{{todayTotalConfirmed}} hoje</span>
        </div>

        <div class="card">
            <h1 style="border-color: #333">Curados <span class="emoji bg-person_raising_both_hands_in_celebration" width="32px"></span>
            </h1>
            <span style="background: #fcfcfc;color: #000">{{totalCured}}</span>
            <span id="today">{{todayTotalCured}} hoje</span>
        </div>


        <div class="card" style="width: 40%">
            <h1 style="border-color: #10c469">Notificados <span class="emoji bg-clipboard" width="32px"></span>
            </h1>
            <span style="background-color: #10c469">{{totalNotified}}</span>
            <span id="today">{{todayTotalNotified}} hoje</span>
        </div>
        <div class="card" style="width: 40%">
            <h1 style="border-color: #f9c851">Suspeitos <span class="emoji bg-right_pointing_magnifying_glass" width="32px"></span>
            </h1>
            <span style="background-color: #f9c851; color: #000">{{totalSuspect}}</span>
            <span id="today">{{todayTotalSuspect}} hoje</span>
        </div>

        <div class="card" style="width: 25%">
            <h1 style="border-color: #fd7e14;font-size: 1.8em">Descartados <span class="emoji bg-cross" width="32px"></span>
            </h1>
            <span style="background-color: #fd7e14">{{totalDiscarded}}</span>
            <span id="today">{{todayTotalDiscarded}} hoje</span>
        </div>


        <div class="card" style="width: 25%">
            <h1 style="border-color: #5D4037">Internados <span class="emoji bg-hospital" width="32px"></span></h1>
            <span style="background-color: #5D4037">{{totalHospitalized}}</span>
            <span id="today">{{todayTotalHospitalized}} hoje</span>
        </div>



        <div class="card" style="width: 25%">
            <h1 style="border-color: #c0392b">Óbitos <span class="emoji bg-crying_face" width="32px"></span></h1>
            <span style="background-color: #c0392b">{{totalDeath}}</span>
            <span id="today">{{todayTotalDeath}} hoje</span>
        </div>

    </div>


    <footer>

        <span style="font-weight: 300; font-size: 0.8em">Atualizado em {{lastGenerated | date : "dd/MM/yyyy, 'às' HH:mm"}}</span>


        <span style="font-weight: bold; font-size: 1.5em;">Acesse picovid.com.br</span>
        <span style="font-weight: 500; font-size: 1em">O PI-COVID é um projeto independente.</span>
<!--        <span style="font-weight: 300; font-size: 0.8em">&nbsp;</span>-->



    </footer>

<!--    </div>-->


    </div>

</div>

<div style="text-align: center; margin: 30px auto 30px 0">
    <button type="button" class="btn btn-info" [routerLink]="['/painel', state, cityPath]">
        <i class="fas fa-arrow-left"></i> Voltar para painel
    </button>



    <img #canvas style="display: none;" />
    <button class="btn btn-success" (click)="downloadImage()" style="margin-left:1em" *ngIf="this.lastUpdate && !this.isSmallScreen">
        <i class="fas fa-download"></i> Baixar boletim
    </button>
    <a #downloadLinkBoletim></a>


    <button class="btn btn-success" (click)="downloadText()" style="margin-left:1em" *ngIf="this.lastUpdate && !this.isSmallScreen">
        <i class="fas fa-download"></i> Baixar legenda
    </button>

</div>
