<div class="container-fluid pl-0 pr-0 pl-md-1 pr-md-1 pl-xl-2 pr-xl-2">

  <h2 class="text-center mt-3 mb-3" *ngIf="cityName">

    <a href="http://transparencia.cravinhos.sp.gov.br:3000/?cod=164" target="_blank" *ngIf="cityName.toLowerCase()=='cravinhos'" style="margin-bottom: 50px; display: block">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-info-circle"></i> Transparência
    </button>
    </a>

    <img width="100px" src="assets/flags/{{state.toLowerCase()}}-{{cityName.toLowerCase()}}.jpg" alt="{{country}}" loading="lazy"
         alt="Bandeira de {{cityName.toUpperCase()}}/{{state.toUpperCase()}}"
    />
    <br/>
    <br/>
<!--    {{ 'Shared.Other.18' | translate }}-->

    <div class="fa-3x text-center" [class.d-none]="!isLoading">
      <i class="fas fa-circle-notch fa-spin m-2"></i>
    </div>

    <span *ngIf="!  isLoading" style="text-transform: uppercase">{{cityName}} / {{state}}<br/>{{lastUpdate | date : 'dd/MM/yyyy'}}</span>
  </h2>

  <div class="row">

    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.14' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-warning badge-pill float-md-left m-md-3 mt-2" style="background-color: #9c27b0 !important;">-->
<!--&lt;!&ndash;                {{(totalCritical / activeCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalActive | number}} </h1>
            <p class="text-muted">{{todayActive}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;background-color: #9c27b0 !important;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.2' | translate }}
        </h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">

              <span class="badge badge-blue badge-pill float-md-left m-md-3 mt-2 detalhes-iframe" *ngIf="cityName.toLowerCase()=='cravinhos'" (click)="openIframeModal('http://webcravinhos.sp.gov.br/covid/modals/modal_confirmados.php', 'Casos confirmados em detalhes')">

                <i class="fas fa-info-circle"></i> Detalhes
              </span>

            <h1 class="font-weight-normal"> {{totalConfirmed | number}} </h1>
            <p class="text-muted">{{todayConfirmed}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-blue progress-sm m-0">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.12' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-warning badge-pill float-md-left m-md-3 mt-2" style="background-color: #fcfcfc !important;">-->
<!--&lt;!&ndash;                {{(totalCritical / activeCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalCured | number}} </h1>
            <p class="text-muted">{{todayCured}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;background-color: #fcfcfc !important;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->


    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.9' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-success badge-pill float-md-left m-md-3 mt-2">-->
<!--&lt;!&ndash;                {{(totalRecoveries / finishedCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalNotified | number}} </h1>
            <p class="text-muted">{{todayNotified}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-success progress-sm m-0">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->


    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.10' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">


            <span class="badge badge-warning badge-pill float-md-left m-md-3 mt-2 detalhes-iframe" *ngIf="cityName.toLowerCase()=='cravinhos'" (click)="openIframeModal('http://webcravinhos.sp.gov.br/covid/modals/modal_suspeitos.php', 'Casos suspeitos em detalhes')">

                <i class="fas fa-info-circle"></i> Detalhes
              </span>
<!--              <span-->
<!--                      class="badge badge-warning badge-pill float-md-left m-md-3 mt-2">{{(totalCritical / activeCases * 100) | number:'.1-2'}}-->
<!--                <i class="mdi mdi-trending-up"></i>-->
<!--              </span>-->

            <h1 class="font-weight-normal"> {{totalSuspect | number}} </h1>
            <p class="text-muted">{{todaySuspect}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.15' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-warning badge-pill float-md-left m-md-3 mt-2" style="background-color: #fd7e14 !important;">-->
<!--&lt;!&ndash;                {{(totalCritical / activeCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalDiscarded | number}} </h1>
            <p class="text-muted">{{todayDiscarded}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;background-color: #fd7e14 !important;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->


    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.13' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-warning badge-pill float-md-left m-md-3 mt-2" style="background-color: #5d4037 !important;">-->
<!--&lt;!&ndash;                {{(totalCritical / activeCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalHospitalized | number}} </h1>
            <p class="text-muted">{{todayHospitalized}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;background-color: #5d4037 !important;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-12">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">{{ 'Shared.TopCards.3' | translate }}</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
<!--              <span-->
<!--                      class="badge badge-danger badge-pill float-md-left m-md-3 mt-2">-->
<!--&lt;!&ndash;                {{(totalDeaths / finishedCases * 100) | number:'.1-2'}}&ndash;&gt;-->
<!--                <i class="mdi mdi-trending-up"></i> </span>-->
            <h1 class="font-weight-normal"> {{totalDeaths | number}} </h1>
            <p class="text-muted">{{todayDeaths}} {{ 'Shared.TopCards.6' | translate }}</p>
          </div>
          <div class="progress progress-bar-alt-danger progress-sm m-0">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->


  </div>

  <div class="row">
    <div class="col-xl-4">

      <div class="card-box">
        <h4 class="header-title mb-3" *ngIf="cityName">{{ 'Country.InfectionCountries.1' | translate }}</h4>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="inbox-widget" [class.d-none]="isLoading">

          <div id="pieChart" style="width: 100%; height: 400px"></div>

        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-8">
      <div class="card-box">
<!--        <div class="float-md-right float-right d-md-inline d-none">-->
<!--          <div class="custom-control custom-checkbox">-->
<!--            <input type="checkbox" class="custom-control-input" id="enableLogarithmicScale" #enableLogarithmicScale (change)="loadLineChart(enableLogarithmicScale.checked)">-->
<!--            <label class="custom-control-label" for="enableLogarithmicScale">{{ 'Shared.InfectionsHistory.2' | translate }}</label>-->
<!--          </div>-->
<!--        </div>-->

        <h4 class="header-title mt-0 mb-1 mt-md-0">{{ 'Shared.InfectionsHistory.1' | translate }}</h4>
        <h5 class="mt-0 mb-3 mt-md-0 font-weight-light">Este gráfico é interativo! Clique nos tipos de caso (confirmados, óbitos, etc) abaixo para que eles sejam mostrados ou escondidos neste gráfico.</h5>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="table-responsive" [class.d-none]="isLoading">
          <div id="lineChart" style="Chawidth: 100%; height: 400px; overflow: hidden"></div>
        </div>
      </div>
    </div><!-- end col -->

  </div>

  <div class="row">
    <div class="col-xl-4">
            <div class="card-box">
              <h4 class="header-title mb-3">Confirmados/100 mil habitantes </h4>
              <div class="fa-3x text-center" [class.d-none]="!isLoading">
                <i class="fas fa-circle-notch fa-spin m-2"></i>
              </div>
              <div class="inbox-widget" [class.d-none]="isLoading">

                <h1 *ngIf="totalConfirmed">{{(this.totalConfirmed * 100000)/this.totalInhabitants2020 | number:'1.0-0' }}</h1>

              </div>
            </div>
    </div>
    <div class="col-xl-4">
            <div class="card-box">
              <h4 class="header-title mb-3">Óbitos/100 mil habitantes </h4>
              <div class="fa-3x text-center" [class.d-none]="!isLoading">
                <i class="fas fa-circle-notch fa-spin m-2"></i>
              </div>
              <div class="inbox-widget" [class.d-none]="isLoading">

                <h1 *ngIf="totalDeaths">{{((this.totalDeaths * 100000)/this.totalInhabitants2020) | number:'1.0-0' }}</h1>

              </div>
            </div>
    </div>
    <div class="col-xl-4">
            <div class="card-box">
              <h4 class="header-title mb-3">{{ 'Shared.RateDistribution.1' | translate }} </h4>
              <div class="fa-3x text-center" [class.d-none]="!isLoading">
                <i class="fas fa-circle-notch fa-spin m-2"></i>
              </div>
              <div class="inbox-widget" [class.d-none]="isLoading">

                <h1 *ngIf="totalDeaths">{{(this.totalDeaths / this.totalConfirmed * 100).toFixed(2) | number : '1.2-2'}}%</h1>

              </div>
            </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center card-box">

      <div class="form-inline">

        <h4>Filtrar dados</h4>

        <input type="text"
               #periodofiltro
               placeholder="Período"
               class="form-control"
               bsDaterangepicker
               [bsConfig]="{  adaptivePosition: true, isAnimated: false , dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', useUtc: true}"
               [(ngModel)]="dateRangeFilter"
               style="margin-left: 30px"
               readonly
        >

        <button type="button" class="btn btn-primary" (click)="filterByDateButtonClicked()" style="margin-left: 30px" [disabled]="dateRangeFilter?.length == 0">
          <i class="fa fa-filter"></i> Filtrar
        </button>

        <button type="button" class="btn btn-primary" (click)="reloadTimelineData()" style="margin-left: 10px">
          <i class="fas fa-redo"></i> Recarregar padrão
        </button>

      </div>
    </div>
  </div>


  <!--  Gráficos novos-->

<!--  Confirmados-->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos confirmados acumulados por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos confirmados"
                  [data]="confirmedData"
                  borderColor="#21afdd"
                  backgroundColor="rgba(33, 175, 221, 0.1)"
                  type="line"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos confirmados por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos confirmados"
                  [data]="todayConfirmedData"
                  borderColor="#21afdd"
                  backgroundColor="rgba(33, 175, 221, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

<!--  Óbitos-->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Óbitos acumulados por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Óbitos"
                  [data]="deathData"
                  borderColor="#EF3340"
                  backgroundColor="rgba(239, 51, 64, .1)"
                  type="line"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Óbitos por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Óbitos"
                  [data]="todayDeathData"
                  borderColor="#EF3340"
                  backgroundColor="rgba(239, 51, 64, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

<!--  Suspeitos-->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos suspeitos acumulados por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos suspeitos"
                  [data]="suspectData"
                  borderColor="#f9c851"
                  backgroundColor="rgba(249, 200, 81, .1)"
                  type="line"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos suspeitos por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos suspeitos"
                  [data]="todaySuspectData"
                  borderColor="#f9c851"
                  backgroundColor="rgba(249, 200, 81, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

<!--  Ativos-->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos ativos acumulados por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos ativos"
                  [data]="activeData"
                  borderColor="#9c27b0"
                  backgroundColor="rgba(156, 39, 176, .1)"
                  type="line"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos ativos por data de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="days"
                  label="Casos ativos"
                  [data]="todayActiveData"
                  borderColor="#9c27b0"
                  backgroundColor="rgba(156, 39, 176, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

<!--  <div class="row">-->


<!--    <div class="col-xl-8">-->
<!--      <div class="card-box">-->


<!--        <h4 class="header-title mt-0 mb-3 mt-md-0">{{ 'Shared.InfectionsHistory.3' | translate }}</h4>-->
<!--        <div class="fa-3x text-center" [class.d-none]="!isLoading">-->
<!--          <i class="fas fa-circle-notch fa-spin m-2"></i>-->
<!--        </div>-->
<!--        <div class="table-responsive" [class.d-none]="isLoading">-->
<!--          <div id="lineChartToday" style="Chawidth: 100%; height: 400px; overflow: hidden"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; end col &ndash;&gt;-->


<!--    <div class="col-xl-4">-->



<!--      <div class="card-box">-->
<!--        <h4 class="header-title mb-3">Confirmados/100 mil habitantes </h4>-->
<!--        <div class="fa-3x text-center" [class.d-none]="!isLoading">-->
<!--          <i class="fas fa-circle-notch fa-spin m-2"></i>-->
<!--        </div>-->
<!--        <div class="inbox-widget" [class.d-none]="isLoading">-->

<!--          <h1 *ngIf="totalConfirmed">{{(this.totalConfirmed * 100000)/this.totalInhabitants2020 | number:'1.0-0' }}</h1>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="card-box">-->
<!--        <h4 class="header-title mb-3">Óbitos/100 mil habitantes </h4>-->
<!--        <div class="fa-3x text-center" [class.d-none]="!isLoading">-->
<!--          <i class="fas fa-circle-notch fa-spin m-2"></i>-->
<!--        </div>-->
<!--        <div class="inbox-widget" [class.d-none]="isLoading">-->

<!--          <h1 *ngIf="totalDeaths">{{((this.totalDeaths * 100000)/this.totalInhabitants2020) | number:'1.0-0' }}</h1>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="card-box">-->
<!--        <h4 class="header-title mb-3">{{ 'Shared.RateDistribution.1' | translate }} </h4>-->
<!--        <div class="fa-3x text-center" [class.d-none]="!isLoading">-->
<!--          <i class="fas fa-circle-notch fa-spin m-2"></i>-->
<!--        </div>-->
<!--        <div class="inbox-widget" [class.d-none]="isLoading">-->

<!--          <h1 *ngIf="totalDeaths">{{(this.totalDeaths / this.totalConfirmed * 100).toFixed(2) | number : '1.2-2'}}%</h1>-->

<!--        </div>-->
<!--      </div>-->

<!--    </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--  </div>-->


  <!--  Gráficos semanais -->

  <!--  Confirmados e óbitos -->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos confirmados acumulados por Semana Epidemiológica de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="weeks"
                  label="Casos confirmados"
                  [data]="weekConfirmedData"
                  borderColor="#21afdd"
                  backgroundColor="rgba(33, 175, 221, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Óbitos acumulados por Semana Epidemiológica de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="weeks"
                  label="Óbitos"
                  [data]="weekDeathData"
                  borderColor="#EF3340"
                  backgroundColor="rgba(239, 51, 64, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

<!--  Suspeitos e ativos-->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos suspeitos acumulados por Semana Epidemiológica de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="weeks"
                  label="Casos suspeitos"
                  [data]="weekSuspectData"
                  borderColor="#f9c851"
                  backgroundColor="rgba(249, 200, 81, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos ativos acumulados por Semana Epidemiológica de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="weeks"
                  label="Casos ativos"
                  [data]="weekActiveData"
                  borderColor="#9c27b0"
                  backgroundColor="rgba(156, 39, 176, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>

  <!--  ANÁLISE MENSAL - Confirmados e Óbitos -->
  <div class="row">


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Casos confirmados por mês de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="months"
                  label="Casos confirmados"
                  [data]="monthConfirmedData"
                  borderColor="#21afdd"
                  backgroundColor="rgba(33, 175, 221, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div><!-- end col -->


    <div class="col-xl-6">
      <div class="card-box">


        <h4 class="header-title mt-0 mb-3 mt-md-0">Óbitos por mês de notificação</h4>

        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>

        <div class="table-responsive" [class.d-none]="isLoading">
          <app-plot-historico
                  [isDataAvailable]="isDataAvailable"
                  [days]="months"
                  label="Óbitos"
                  [data]="monthDeathData"
                  borderColor="#EF3340"
                  backgroundColor="rgba(239, 51, 64, 1)"
                  type="bar"
          >
          </app-plot-historico>
        </div>
      </div>
    </div>

  </div>





  <div class="row">

    <div class="col-xl-6">
      <div class="card-box">

        <h4 class="header-title mt-0 mb-3">{{ 'Shared.Other.27' | translate }}</h4>

        <div class="row">
          <div class="col-12">
            Acesse o <a href="https://www.saopaulo.sp.gov.br/coronavirus/sem-fake-news/" target="_blank">Sem Fake News</a>, projeto do Governo do Estao de São Paulo, para identificar e combater notícias falsas sobre coronavírus.
          </div>
        </div>
      </div>

      <div class="card-box text-center">
        <h5>Boletim diário</h5>
        Para visualizar o boletim diário de {{cityName.toUpperCase()}}/{{state.toUpperCase()}} em {{lastUpdate | date : 'dd/MM/yyyy'}}, clique <a [routerLink]="['/boletim', state, cityPath]">aqui</a>.
      </div>


      <div class="card-box text-center" *ngIf="false">
        <h5>Baixar dados</h5>
        Para baixar os dados em csv, clique <a href="https://github.com/rafaeldefazio/csv-covid/blob/master/dados.csv" target="_blank">aqui</a>.
      </div>
    </div><!-- end col -->

    <div class="col-xl-6">
      <div class="card-box">

        <h4 class="header-title mt-0 mb-3">{{ 'Shared.Other.28' | translate }}</h4>

        <div class="row">
          <div class="col-12 text-center">

            <h5>Governo do Estado de SP</h5>
            <a href="https://wa.me/5511952202923" target="_blank">
              <img src="https://i.ibb.co/4fLMdnr/chatbot-sp.png" class="img-fluid rounded" loading="lazy"/>
            </a>
            <br/><br/>

            <div *ngIf="cityName.toLowerCase()=='catanduva'">
            <h5>Prefeitura de Catanduva</h5>
            <a href="https://wa.me/5541987746489" target="_blank">
              <img src="https://i.ibb.co/v4fmZvg/chatbot-laura.png" class="img-fluid rounded" loading="lazy"/>
            </a>
          </div>

          </div>
        </div>
      </div>

    </div><!-- end col -->

  </div>


<!--  <div class="row">-->

<!--    <div class="col-xl-6">-->
<!--      <div class="card-box">-->

<!--        <h4 class="header-title mt-0 mb-3">{{ 'Shared.TopCards.11' | translate }}</h4>-->

<!--        <div class="row">-->
<!--          <div class="col-12">-->

<!--            <a href="https://www.google.com/maps/d/u/0/viewer?mid=1SZi85Swa4vhDU3U5C3I5l3vyK6oesgXX&ll=-21.141021579915027%2C-48.97572939999998&z=14" target="_blank">-->
<!--            <img rel="preload" src="assets/images/mapa.webp" class="img-fluid">-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--    <div class="col-xl-6">-->
<!--      <div class="card-box text-center">-->
<!--        <h5>{{ 'Shared.Other.2' | translate }}</h5>-->
<!--        <app-countup></app-countup>-->
<!--      </div>-->

<!--      <div class="card-box text-center">-->
<!--        <h5>Fonte</h5>-->
<!--        <b>Boletins do Coronavírus</b>: Prefeitura Municipal de Catanduva<br/>-->
<!--        O PI-COVID é desenvolvido e mantido de forma independente, ou seja, NÃO é um site oficial da Prefeitura de Catanduva.-->
<!--      </div>-->

<!--      <div class="card-box text-center">-->
<!--        <h5>Contatos Úteis</h5>-->
<!--        <span>Disk Saúde: <a href="tel:35319300">3531-9300</a></span><br/>-->
<!--        <span>Fiscalização: <a href="tel:35319184">3531-9184</a></span><br/>-->
<!--        <span>Vigilância Sanitária: <a href="tel:35319315">3531-9315</a></span><br/>-->
<!--        <span>Guarda Civil Municipal: <a href="tel:153">153</a></span><br/>-->
<!--        <span>Ouvidoria da Prefeitura: <a href="tel:08007729152">0800 772 9152</a></span>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--  </div>-->


</div> <!-- end container -->
