<div class="container-fluid" style="margin-top: 20px">


    <div class="row">

        <div class="col-12" style="text-align: center">
            <h1>Seja bem-vindo ao PI-COVID :)</h1>
            <p>Acesse os painéis do coronavírus pelo menu ao lado ou botões abaixo:</p>

            <br/>
            <br/>


            <button type="button" class="btn btn-primary" routerLink="painel/sp/catanduva" style="font-size:2em">
                <img src="assets/flags/sp-catanduva.jpg" width="50px"/> Catanduva/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/cravinhos" style="font-size:2em">
                <img src="assets/flags/sp-cravinhos.jpg" width="50px"/> Cravinhos/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/olimpia" style="font-size:2em">
                <img src="assets/flags/sp-olímpia.jpg" width="50px"/> Olímpia/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/pindorama" style="font-size:2em">
                <img src="assets/flags/sp-pindorama.jpg" width="50px"/> Pindorama/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/santaadelia" style="font-size:2em">
                <img src="assets/flags/sp-santa%20adélia.jpg" width="50px"/> Santa Adélia/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/sertaozinho" style="font-size:2em">
                <img src="assets/flags/sp-sertãozinho.jpg" width="50px"/> Sertãozinho/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/sp/severinia" style="font-size:2em">
                <img src="assets/flags/sp-severínia.jpg" width="50px"/> Severínia/SP
            </button>
        </div>

    </div>



</div>
