<div class="container-fluid" style="margin-top: 20px">


    <div class="row">

        <div class="col-12" style="text-align: center">
            <h1>Seja bem-vindo ao PI-COVID :)</h1>
            <p>Acesse os painéis do coronavírus pelo menu ao lado ou botões abaixo:</p>

            <br/>
            <br/>


            <button type="button" class="btn btn-primary" routerLink="painel/SP/Catanduva" style="font-size:2em">
                <img src="assets/flags/sp-catanduva.jpg" width="50px"/> Catanduva/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/SP/Cravinhos" style="font-size:2em">
                <img src="assets/flags/sp-cravinhos.jpg" width="50px"/> Cravinhos/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/SP/Pindorama" style="font-size:2em">
                <img src="assets/flags/sp-pindorama.jpg" width="50px"/> Pindorama/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="painel/SP/Sertãozinho" style="font-size:2em">
                <img src="assets/flags/sp-sertãozinho.jpg" width="50px"/> Sertãozinho/SP
            </button>
        </div>

    </div>



</div>
