<div class="container-fluid" style="margin-top: 20px">


    <div class="row">

        <div class="col-12" style="text-align: center">
            <h1>Seja bem-vindo ao PI-COVID :)</h1>
            <p>Nós estamos em expansão. Ainda nosso site não está pronto, mas você pode ainda pode consultar os painéis:</p>

            <br/>
            <br/>


            <button type="button" class="btn btn-primary" routerLink="/SP/Catanduva">
                Catanduva/SP
            </button>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="/SP/Cravinhos">
                Cravinhos/SP
            </button>
        </div>

    </div>



</div>
