    <div class="row">
        <div class="col-12">
            <div class="card-box">
            <h4>Últimas notícias</h4>

            <ul class="timeline">
                <li>
                    <a target="_blank" href="http://www.catanduva.sp.gov.br/2020/05/16/prefeitura-adota-atendimento-via-whatsapp-sobre-tributos/"> Prefeitura adota atendimento via whatsapp sobre tributos</a>
                    <span class="date">16/05/2020</span>
                    <p>Para agilizar o atendimento ao contribuinte, possibilitando que as pessoas permaneçam em casa, a Prefeitura de Catanduva, por meio da Secretaria Municipal de Finanças, disponibilizou canais de comunicação para esclarecer dúvidas relacionadas a tributos. O atendimento será feito até por WhatsApp...</p>
                </li>
                <li>
                    <a href="http://www.catanduva.sp.gov.br/2020/05/16/prefeitura-propoe-feira-drive-thru-no-recinto-ou-na-theodoro/">Prefeitura propõe feira drive thru no Recinto ou na Theodoro</a>
                    <span class="date">16/05/2020</span>
                    <p> A Prefeitura de Catanduva apresentou proposta a representantes das feiras livres realizadas na Vila Celso e na Praça do Idoso, na primeira semana de maio, para a realização de uma edição piloto no formato drive thru. Dois locais foram indicados para análise dos feirantes: o Recinto de Exposições...</p>
                </li>
                <li>
                    <a href="#">Awesome Employers</a>
                    <span class="date">16/05/2020</span>
                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                </li>
            </ul>
            </div>
        </div>

    </div>
