footer.footer{
  margin-top: 1em !important;
}

div#social{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  div#social{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }

}
