<br/><br/>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4 pt-1">
        2020 © {{ 'Shared.Other.12' | translate }} <span class="text-danger"><i class="fas fa-heart"></i></span><br/>por <a href="https://www.linkedin.com/in/rafaelbdefazio/" target="_blank">Rafael Biagioni de Fazio</a> e <a href="https://www.linkedin.com/in/adriano-henrique-cant%C3%A3o-b64347113/" target="_blank">Adriano Henrique Cantão</a><br/><small>utilizando dashboard de Ossama Rafique</small>
      </div>

      <div class="col-md-6 pt-1">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://github.com/rafaeldefazio/dashboard-covid"><span class="text-blue"><i class="fab fa-osi"></i></span> {{ 'Shared.Other.7' | translate }}</a>
        </div>
      </div>

    </div>
  </div>
</footer>
